.splash-card {
    height: fit-content !important;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $cream;
    font-size: 22px;
    min-width: 100%;
}

.splash-image_wrapper {
    display: flex;
    flex-direction: row;
    width: 330px;
    height: 330px;
    margin: 0 auto;
}

.newsletter-block_wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;
    float: left;
}

.heading-block_wrapper,
.btn-block_wrapper {
    display: block;
    position: relative;
    float: right;
    height: fit-content;
    width: 100%;
    padding: 14px 14px;
}

.btn-block_wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}


.email-block {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-top: 1em;

    h3 {
        max-width: 50%;
        font-size: clamp(12px, -0.475rem + 8.333vw, 18px);
    }

    button{
        max-height: 55px;
        width: 55px;
        text-align: center;
        vertical-align: middle;
        font-size:12px;
        border: 4px;
        background-color: $secondary_green;
        color: $cream;
        :hover{
            cursor: pointer;
        }
    }
}


.btn-block {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 100%;
    justify-content: space-around;
    margin-top: 0.5rem;
    gap: 15px;
}

.recycle-container {
    min-height: fit-content;
    margin: 0 0;
    min-width: 100%;
    flex: 1 1;
}

.container {
    max-width: 100%;
    min-height: 30vh;
    padding: 0 0;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em 0 0.5em;
}


.pic-links {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 4rem;
    padding: 24px;
    padding-bottom: 4px;
}

.home {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-feed {
    h2 {
        color: $dark_green;
        font-size: clamp(1em, -0.033rem + 1.8vw, 3.5rem) !important;
    }
}

.col-main {
    display: block;
    float: left;
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
}

.col-aside {
    display: block;
    float: right;
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
}

.greentext {
    display: flex;
    font-size: clamp(3rem, -0.475rem + 8.333vw, 4.5rem);
    color: $background-main;
    font-weight: 700;
    text-decoration: underline;
    flex-direction: row;
    justify-content: center;
}

.splash-text-container {
    display: block;
    padding: 14px 35px;
    background-color: $background-main;
    color: $dark_green;
    box-shadow: 2px 2px 10px 3px rgb(225 225 225);
    font-size: clamp(1rem, -1.25rem + 3.333vw, 1.5rem);
    min-height: 210px;
    text-align: justify;
}

.local {
    display: flex;
    font-size: clamp(0.7rem, -0.49rem + 7.7vw, 2.8rem);
    color: lightblue;
    font-weight: 700;
    flex-direction: row;
    justify-content: center;
}


.heading-block {
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 4px;

    h1 {
        font-size: 3em !important;
        background-color: $secondary_green;
        color: $cream;
        max-width: 98%;
        margin: 70px auto;
        padding: 21px 11px;
        margin-bottom: 25px;
    }
}

.recycle-wrapper {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    grid-gap: 8px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////
///// Everything above is for mobile
/*   $breakpoint_xs: 360px;
$breakpoint_sm: 768px;
$breakpoint_md: 1024px;
$breakpoint_lg: 1280px;
$breakpoint_xl: 14400px;
$breakpoint_xxl: 1600px; */
/////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and (min-width: $breakpoint_sm) {}

@media only screen and (min-width: $breakpoint_md) {
    .splash-text-container {
        display: block;
        padding: 14px 35px;
        background-color: #E1EABE;
        color: $dark_green;
        box-shadow: 2px 2px 10px 3px rgb(225 225 225);
        font-size: clamp(1rem, -1.25rem + 3.333vw, 1.5rem);
        min-height: fit-content;
        text-align: justify;
    }

    .body-review {
        background-color: #E1EABE;
        padding: 16px;
        box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
    }
}

@media only screen and (min-width: $breakpoint_lg) {
    .btn-block {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        min-width: 100%;
        justify-content: space-around;
        margin-top: 6rem;
        gap: 15px;
    }

    .email-block {
        margin-top: 9em;
    }

}