.hidden-btn {
    background-color: transparent;
    border: none;
}

.login-btn {
    background-color: $secondary_green!important;
    color: $cream!important;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 12px 0px!important;

    &:hover {
        background-color: $background-main!important;
        color: $i-dark!important;
    }
}

.btn-primary {
        display: flex;
        flex-direction: row;
        max-height: 58px;
        min-width: 100%;
        font-size: 14px;
        background-color: #497EC0;
        border-radius: 5px;
        color: #f2f0e4;
        margin-top: 26px;
        box-shadow: rgb(0 0 0 / 10%) 0px 3px 12px 0px;

    &:hover {
        background-color: $secondary_green;
        transform: scale(1.03);
        box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
            0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
            0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
    }
}

.btn-secondary {
    display: block;
    position: relative;
    background-color: $secondary_green;
    color: white;
    font-size: clamp(14px, 12px + 0.0333px, 21px);
    border: $dark_green 2px solid;
    border-radius: 5px;
    padding: 18px 28px 18px 28px;
    margin: 3rem auto;
}


.btn-tertiary {
    display: flex;
    flex-direction: row;
    height: 52px!important;
    background-color: #4fae3c;
    color: #fff;
    font-size: 16px;
    border: 2px solid #4c7041;
    border-radius: 5px;
    padding: 14px 0 9px 0;
    margin: 1rem 5%;
    justify-content: space-around;
    vertical-align: middle;
}


.search-value-input {
	min-width: 100px !important;
    padding-right: 14px;
}

.search-value-btn {
    display: flex;
    display: inline-flex;
    flex-direction: row;
    margin-left: 0;
    max-width: 140px;
    border-radius: 4px;
	background-color: $secondary_green;
	color: $cream;
    align-items: center;
    vertical-align: middle;

    :hover{
        background-color: $background-main;
        color: #4C7041;
        cursor: pointer;
    }
}

.btn-block_wrapper {
    display: block;
    position: relative;
    float: right;
    height: fit-content;
    width:fit-content;
}


.search-page_wrapper {
	margin-top: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.span-search {
	color: $blue;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////
// Everything above is for mobile
/*   $breakpoint_xs: 360px;
$breakpoint_sm: 768px;
$breakpoint_md: 1024px;
$breakpoint_lg: 1280px;
$breakpoint_xl: 14400px;
$breakpoint_xxl: 1600px; */
/////////////////////////////////////////////////////////////////////////////////////////////////////
/// 
@media only screen and (min-width: $breakpoint_sm) {}

@media only screen and (min-width: $breakpoint_md) {


	.btn-block {
		display: flex;
		flex-direction: row;
		max-width: 100%;
		min-width: 100%;
		justify-content: flex-end;
		margin-top: 0.5rem;
		gap: 15px;
	}

    .search-value-btn {
        margin-left: 140px;
    }

}

@media only screen and (min-width: $breakpoint_lg) {

    .btn-block {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        min-width: 100%;
        justify-content: space-around;
        margin-top: 6rem;
        gap: 15px;
    }
}

@media only screen and (min-width: $breakpoint_xl) {}

@media only screen and (min-width: $breakpoint_xxl) {}