.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}


.splash-card {
    height: fit-content !important;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $cream;
    font-size: 22px;
    min-width: 100%;
}

.splash-image_wrapper {
    display: flex;
    position: relative;
    width: 80%;
    height: auto;
    justify-content: space-around;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.splash-image {
    display: flex;
    position: relative;
    max-width: 300px!important;
    max-height: 300px!important;
    min-width: 100%;
    min-height: 100%;
    margin-top: 21px;
    padding: 21px 14px;
    

    .earth-img {
        display: block;
        position: relative;
        object-fit: fill;
        width: 90% !important;
        position: relative !important;
    }
}

img {
    max-width: 76% !important;
    height: auto !important;
}



.feed-image__container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
}


.offers-search-grid,
.search-grid {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    grid-gap: 8px;
}




ol {
    display: block;
    position: relative;
    margin: 0 auto;
}

li.items {
    display: block;
    position: relative;
}


.pic-links:nth-child(2n-1),
.product-feed-item:nth-child(2n-1) ,
.search-trash-card:nth-child(2n-1) {
	background-color: $background-main  !important;
	font-size: 36px;
	color: $dark_green;
	padding-bottom: 4px;

	.feed-title {
		h3 {
			color: $dark_green;
		}
	}

	h3 {
		color: $dark_green;
	}
}

.pic-links:nth-child(2n),
.product-feed-item:nth-child(2n),
.search-trash-card:nth-child(2n)  {
	background-color: $secondary_green;
	font-size: 36px;
	color: $background-main  !important;
	padding-bottom: 4px;

	.feed-title {
		h3 {
			color: $background-main;
		}
	}

	h3 {
		color: $background-main;
	}

	.feed-button {
		.btn-secondary {
			background-color: $background-main  !important;
			color: $secondary_green;
            margin-top: auto!important;
		}
	}

	.btn-tertiary {
		background-color: $background-main;
		color: $secondary_green;
	}
}

.pic-links:nth-child(3n),
.product-feed-item:nth-child(3n),
.search-trash-card:nth-child(3n)  {
	background-color: $primary_yellow;
	font-size: 36px;
	color: $dark  !important;
	padding-bottom: 4px;

	.feed-title {
		h3 {
			color: $dark_green;
		}
	}

	h3 {
		color: $dark_green;
	}

	.feed-button {
		.btn-secondary {
			background-color: $dark_green  !important;
			color: $cream  !important;
            margin-top: auto!important;
		}
	}

	.btn-tertiary {
		background-color: $dark_green  !important;
		color: $cream  !important;
	}
}

.pic-links:nth-child(5n),
.product-feed-item:nth-child(5n),
.search-trash-card:nth-child(5n)  {
	background-color: $blue  !important;
	font-size: 36px;
	color: $background-main  !important;

	.feed-title {
		h3 {
			color: $background-main
		}
	}


	h3 {
		color: $background-main
	}

	.feed-button {
		.btn-secondary {
			background-color: $background-main  !important;
			color: $blue  !important;
            margin-top: auto!important;
		}
	}

	.btn-tertiary {
		background-color: $background-main  !important;
		color: $blue;
	}
}

.pic-links:nth-child(7n),
.product-feed-item:nth-child(7n),
.search-trash-card:nth-child(7n)  {
	background-color: $dark  !important;
	font-size: 36px;
	color: $background-main;

	.feed-title {
		h3 {
			color: $background-main;
		}
	}

	h3 {
		color: $background-main;
	}

	.feed-button {
		.btn-secondary {
			background-color: $background-main!important;
			color: $dark!important;
            margin-top: auto!important;
		}
	}

	.btn-tertiary {
		background-color: $background-main;
		color: $dark;
	}
}


.pic-links:nth-child(11n),
.product-feed-item:nth-child(11n),
.search-trash-card:nth-child(11n)  {
    background-color: $background-dark  !important;
    color: $dark_green!important;

    .feed-title {
        h3 {
            color: $dark_green;
        }
    }

    .feed-button {
        .btn-secondary {
            background-color: $dark_green;
            color: $cream;
            margin-top: auto!important;
        }
    }

    .btn-tertiary {
        background-color: $background-main;
        color: $dark;
    }
}

.pic-links:nth-child(13n),
.product-feed-item:nth-child(13n),
.search-trash-card:nth-child(13n)  {
    background-color: $ii-dark  !important;
    color: $background-main!important;

    .feed-title {
        h3 {
            color: $background-main
        }
    }

    .feed-button {
        .btn-secondary {
            background-color: $background-main!important;
            color: $ii-dark!important;
            margin-top: auto!important;
        }
    }

    .btn-tertiary {
        background-color: $background-main!important;
        color: $ii-dark!important;
    }
}



.plenary-bkg {
    display: none;
}


.locationpage-image {
    display: none;
    position: relative;
    min-width: 360px;
    max-width: 100%;
   min-height: 100%;
   max-height: auto;
    margin-left: 2%!important;

}


.hero_banner {
	height: 300px;
	width: 100%;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	color: #fff !important;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: black;
}

.hero::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: none;
}

.inner_hero {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	//	background-image: url(../public/greencyle.svg);
}

.hero_banner::after {
	background-color: #001d3b;
	opacity: 0.6;
}

.hero * {
	z-index: 20;
}

.hero h1 {
	position: absolute;
	background-color: $secondary_green;
	bottom: 0;
	font-size: 1.5rem !important;
}

.hero_banner h1 {
	position: relative;
	background-color: transparent;
	margin-bottom: 0;
	font-size: 2.5rem !important;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////
// Everything above is for mobile
/*   $breakpoint_xs: 360px;
$breakpoint_sm: 768px;
$breakpoint_md: 1024px;
$breakpoint_lg: 1280px;
$breakpoint_xl: 14400px;
$breakpoint_xxl: 1600px; */
/////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and (min-width: $breakpoint_sm) {

    .offers-search-grid,
    .search-grid {
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        grid-gap: 8px;
    }


}

@media only screen and (min-width: $breakpoint_md) {
    .splash-image {
        display: flex;
        position: relative;
        max-width: 360px!important;
        max-height: 360px!important;
        min-width: 100%;
        min-height: 100%;
        margin-top: 21px;
        padding: 21px 14px;
    }

    .locationpage-image {
        display: flex;
        position: relative;
        min-width: 360px;
        max-width: 360px;
        height: 360px;
        margin-left: 15%!important;
    }

    .offers-search-grid,
    .search-grid {
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        grid-gap: 8px;
    }

    .Recycle-card {
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        overflow: hidden;
        min-width: 94% !important;
        max-width: 100% !important;
        height: 520px !important;
        margin-left: 0px;
        margin-bottom: 50px !important;
        background-color: white!important;

        h3 {
            font-size: 22px;
        }
    }

    .product-feed-image__container {
        display: flex !important;
        height: 240px !important;
        width: 100% !important;
        justify-content: space-evenly;
        padding: 16px;
    }

    .feed-image {
        display: block;
        position: relative;
        margin: 15px 15px;
        border-radius: 10px 0 10px 0;

        img {
            max-height: 160px;
            width: auto;
        }
    }

}

@media only screen and (min-width: $breakpoint_lg) {

    .plenary-bkg {
        display: block;
        position: relative;
        background: url("/bottom-bkg-3.svg") center center;
        height: 300vh;
        width: 100%;
        //background-image: url("/public/images/bottom-bkg.svg");
    }

    .splash-image_wrapper {
        width: 40%;
        height: 400px;
        float: left;
    }

    .splash-image {
        display: flex;
        position: relative;
        min-width: 33.33%;
        max-width: 500px;
        height: 500px;
        margin-left: - 8%;
    }

    .splash-image {
        width: 90%;
        height: 500px;
        width: 500px;
        object-position: top;
        padding-top: 60px !important;
        padding-right: 60px !important;

        >div {
            position: unset !important;
        }

        .earth-img {
            object-fit: contain;
            width: 90% !important;
            position: relative !important;
            height: unset !important;
            object-position: top;
            padding-right: 100px !important;
            padding-top: 48px !important;
            padding-left: 48px !important;
        }
    }
        .about-img {
            width: 90%;
            height: 500px;
            width: 500px;
            object-position: top;

            >div {
                position: unset !important;
            }

            .earth-img {
            object-fit: contain;
            width: 90% !important;
            position: relative !important;
            height: unset !important;
            object-position: top;
            padding-right: 100px !important;
            padding-top:0 !important;
            padding-left: 0 !important;
            padding-top: 0 !important;
        }
}

.splash-image {
    width: 90%;
    height: 500px;
    width: 500px;
    object-position: top;
    padding-top: 60px !important;
    padding-right: 60px !important;

    > div {
        position: unset !important;
    }

    .earth-img {
        object-fit: contain;
        width: 90% !important;
        position: relative !important;
        height: unset !important;
        object-position: top;
        padding-right: 16px !important;
        padding-top: 48px !important;
        padding-left: 48px !important;
    }

    .location-img {
        padding-top: 0 !important;
    }
}
}

@media only screen and (min-width: $breakpoint_xl) {

    .offers-search-grid,
    .search-grid {
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        grid-gap: 8px;
    }

    .search-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: $breakpoint_xxl) {}