.footer {
    display: block;
    width: 100%;
    margin-left: 0;
    background-color: $dark_green;
    min-height: 50vh !important;
}

.foot-newsletter h4 {
    color: $cream;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 86%;
    margin: 0 auto;
}

.foot-col-1 {
    display: none;
}

.foot-newsletter {
    display: none;
}

.foot-col-2 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    border: $cream solid 2px;
    min-width: 100%;
}

.flex-footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    max-width: 96%;

    a {
        color: #e0d494;
        font-size: 34px;
        margin-bottom: 1.5rem;
        padding: 14px 14px !important;
        display: flex;
       flex-direction: row;
         justify-content: center;

        &:hover {
            color: $secondary_green;
            cursor: pointer;
        }

    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////
// Everything above is for mobile
/*   $breakpoint_xs: 360px;
$breakpoint_sm: 768px;
$breakpoint_md: 1024px;
$breakpoint_lg: 1280px;
$breakpoint_xl: 14400px;
$breakpoint_xxl: 1600px; */
/////////////////////////////////////////////////////////////////////////////////////////////////////
/// 
@media only screen and (min-width: $breakpoint_sm) {}

@media only screen and (min-width: $breakpoint_md) {


    .footer {
        display: block;
        width: 100%;
        margin-left: 0;
        background-color: $dark_green;
        min-height: 50vh !important;
    }


    .foot-newsletter h4 {
        color: $cream;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        min-width: 86%;
        margin: 0 auto;
    }

    .foot-col-1 {
        display: none;
    }

    .foot-newsletter {
        display: none;
    }

    .foot-col-2 {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        position: relative;
        border: $cream solid 2px;
        min-width: 100%;
    }

    .flex-footer {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-around;
        max-width: 100%;

        a {
            color: #e0d494;
            font-size: 34px;

            &:hover {
                color: $secondary_green;
                cursor: pointer;
            }

        }
    }


}


@media only screen and (min-width: $breakpoint_lg) {

    .foot-newsletter {
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: 24px;
        padding: 2rem;
        min-width: 400px;
    }

    .newsletter-block_wrapper {
        width: 40%;
        height: fit-content;
    }
}

@media only screen and (min-width: $breakpoint_xl) {
    .foot-col-1 {
        display: flex;
        flex-direction: column;
        position: relative;
        border: #f2f0e4 solid 2px;
        min-width: 33.33% !important;
    }

}

@media only screen and (min-width: $breakpoint_xxl) {}