/** @format */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $light_green;
    color: $ii-dark;
    height: 80px;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 900;
}

.header a {
    font-family: "protipo", sans-serif !important;
    color: $dark_green;
    margin-right: 20px;
    font-size: 2.05rem;
    text-transform: capitalize;
    text-decoration: none;
}

.items__link::after {
	z-index: 5;
    content: "";
    position: absolute;
    border-right: 2px solid $dark_green!important;
    top: -40px;
    left: -20px;
    height: 100px;
    width: 9px;
    transform: skewX(-12deg);
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 40;
}

.header-input {
    height: 40px;
    max-width: 170px;
    min-width: 10%;
    border-radius: 4px !important;
    border: $blue 1px solid !important;
    font-size: 1em;
    margin-left: 6px;
    margin-bottom: 0 !important;
    background-color: $cream;
}

.header-input__btn {
    height: 60px;
    width: 60px;
    min-width: 4%;
    color: $background-main  !important;
    border-radius: 4px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: -6px !important;

    &:hover {
        color: $secondary_green  !important;
    }

    & svg {
        background-size: cover !important;
        height: 60px !important;
        width: 60px !important;
        color: $blue  !important;
        padding: 0 !important;
        margin: 0 !important;
        font-size: 2.5rem !important;

        &:hover {
            color: $secondary_green  !important;
        }
    }
}

.header a:hover {
    color: $secondary_green;
}

.logo {
    display: inline-block;
    background-image: url(../../public/logo-3.svg);
    min-height: 70px !important;
    min-width: 70px !important;
    font-size: 1.75em;
    text-transform: uppercase;
}

.toogle-nav {
    display: block;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 2rem;
}

.tagline_wrapper {
        display: none;
    }
    .list {
        flex-direction: column;
        height: auto;
        background: $background-main;
        border: 1px solid $dark_green;
    }
    
////////////////////////////////////////////////////////////////////////////////////////////////////////
// Everything above is for mobile
/*   $breakpoint_xs: 360px;
$breakpoint_sm: 768px;
$breakpoint_md: 1024px;
$breakpoint_lg: 1280px;
$breakpoint_xl: 14400px;
$breakpoint_xxl: 1600px; */
/////////////////////////////////////////////////////////////////////////////////////////////////////
///
@media only screen and (min-width: $breakpoint_sm) {

    .toogle-nav {
        display: none;
    }

 .header ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        width: fit-content;
        position: relative;
        z-index: 40;
        top: 0!important;
    }
    .list {
        flex-direction: row;
        height: auto;
        background: #E1EABE;
        border: none;
        margin-left: 0;
    }
}

@media only screen and (min-width: $breakpoint_md) {
    .header ul {
        display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: fit-content;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    z-index: 40;
    top: 0;
    }
}

@media only screen and (min-width: $breakpoint_lg) {
    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #e1eabe;
        max-width: 100%;
        color: #000002;
        height: 80px;
        padding: 0 5px;
        box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
        z-index: 900;
    }

    .header ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative !important;
        list-style: none;
        top: 0;
        left: 0 !important;
        z-index: 10;
    }

    .heading-block_wrapper,
    .btn-block_wrapper {
        float: right;
        width: 60%;
        padding: 14px 14px;
    }

    .tagline_wrapper {
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-width: 310px;
    max-width: 0;
    margin-left: 35px;
}
    
    .tagline {
        display: flex;
        color: $background-light;
        background-color: transparent!important;
        flex-direction: row;
        text-align: center;
        align-items: center;
        vertical-align: middle;
        margin-top: 0;
        padding-top: 11px;
        padding-bottom: 11px;
        font-size: 1.5rem;
    }
    .toogle-nav {
    display: none;
}
}

@media only screen and (min-width: $breakpoint_xl) {}

@media only screen and (min-width: $breakpoint_xxl) {}