
@font-face {
   font-family: "egizio-urw", serif;
   font-weight: 700;
   font-style: italic;
	src:url("https://use.typekit.net/fum7mnw.css");
}

@font-face {
	 font-family: "mr-eaves-modern", sans-serif;
	 font-weight: 400;
	 font-style: normal;
	 src:url("https://use.typekit.net/fum7mnw.css");
 }

$breakpoint_xs: 360px;
$breakpoint_sm: 768px;
$breakpoint_md: 1024px;
$breakpoint_lg: 1280px;
$breakpoint_xl: 14400px;
$breakpoint_xxl: 1600px;

$font-size: 12px;
$font-size-xs: 9px;
$font-size-sm: 9px;
$font-size-md: 11px;
$font-size-lg: 12.5px;
$font-size-xl: 14px;
$font-size-xxl: 16px;

$light_green: #E1EABE;
$primary_green:#8DB942;
$secondary_green: #4FAE3C;
$dark_green: #4C7041;
$blue:#497EC0; 
$gold: #bfa65a;
$primary_yellow: #FFE069;
$cream: #f2f0e4;
$grey:#969696;
$i-dark: #001d3b;
$ii-dark: #000002;
$background-main:#E1EABE;

html,
body {
	padding: 0;
	margin: 0;
	font-family: "egizio-urw", serif;
	font-style: italic;
	font-size: 12.5px;
	background-color: $cream;
}

h1,
h2,
h3,
h4 {
	font-family: "protipo", sans-serif !important;
}



.std-size__font {
	font-size: $font-size-xs;
}

@media only screen and (max-width: $breakpoint_md) {
	html,
	body {
		font-size: $font-size-md;
	}

	.std-size__font {
		font-size: $font-size-md;
	}

	.col-50{
		display: block;
		float: left;
		min-width:100%;
		max-width: 100%;
	}
}

@media only screen and (max-width: $breakpoint_lg) {
	html,
	body {
		font-size: $font-size-lg;
	}

	.std-size__font {
		font-size: $font-size-lg;
	}
}

@media only screen and (max-width: $breakpoint_xl) {
	html,
	body {
		font-size: $font-size-xl;
	}

	.std-size__font {
		font-size: $font-size-xl;
	}
}

@media only screen and (max-width: $breakpoint_xxl) {
	html,
	body {
		font-size: $font-size-xxl;
	}

	.std-size__font {
		font-size: $font-size-xxl;
	}

	.tagline {
		display: inline-flex;
		color: #000080;
		background-color: transparent;
		flex-direction: column;
		text-align: center;
		align-items: center;
		vertical-align: middle;
		margin-top: 0;
		padding-top: 0;
		font-family: "demos-next";
		font-style: normal;
		font-size: 1.5rem;
	}
	
	.flex-box {
		display: inline-flex;
		flex-direction: row;
		text-align: center;
		align-items: center;
		vertical-align: middle;
		margin-top: 0;
		padding-top: 0;
		font-family: "demos-next";
		font-style: normal;
		font-size: 1.5rem;
	}
}

.header-input {
	height: 40px;
	max-width: 170px;
	min-width: 10%;
	border-radius: 4px !important;
	border: $blue 1px solid !important;
	font-size: 1em;
	margin-left: 6px;
}


.header-input__btn {
	height: 60px;
	width: 60px;
	min-width: 4%;
	color: $background-main !important;
	border-radius: 4px !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	margin-top: -6px !important;
	&:hover {
		color: $secondary_green!important;
	}
	& svg {
		background-size: cover !important;
		height: 60px !important;
		width: 60px !important;
		color: $blue !important;
		padding: 0 !important;
		margin: 0 !important;
		font-size: 2.5rem !important;
		&:hover {
			color: $secondary_green !important;
		}
	}
}


h1 {
	font-size: 2.5rem!important;
}

h2 {
	font-size: 2rem!important;
}

h3 {
	font-size: 1.75rem!important;
}

h3 {
	font-size: 1.5rem!important;
}

a {
	color: inherit;
	text-transform: uppercase;
	font-size: 1.25rem;
	text-decoration: none!important;
}

* {
	box-sizing: border-box;
}
.col-1{
	display: block;
	float: left;
	max-width: 62%;
	min-width: 62%;
}
.col-2{
	display: block;
	max-width: 28%;
	min-width: 28%;
}

.col-main{
	display: block;
	float: left;
	max-width: 84%;
	min-width: 84%;
}
.col-aside{
	display: block;
	float: right;
	max-width: 15%;
	min-width:15%;
}


.col-50{
	display: block;
	max-width: 50%;
	min-width: 50%;
}
.greentext{
	font-size: 1.05em;
	color: #E1EABE;
	font-weight: 700;
	text-decoration: underline;
}

.splash-text-container{
	display: block;
    padding: 2.5rem;
    background-color: #E1EABE;
    color: $grey;
	box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
}

.local{
	font-size: 1.05em;
	color: lightblue;
	font-weight: 700;
}
.splash-card{
	height: fit-content!important;
	display: flex;
	flex-direction: row;
	background-color: $cream;
	font-size: 22px;
}
.splash-image{
	display: block;
	margin-top: 0.5rem!important;
	max-width: 25%!important;
	min-width: 380px!important;
	height: auto;
}

.marker-image{
	display: inline-flex;
	margin-top: 12.5rem !important;
    margin-bottom: 1rem !important;
    min-height: 75px !important;
	max-width: auto;
}

.post-title-block{
	display: block;
	flex-direction: column;
	margin-top: 1rem;
	margin-bottom: 4rem;
}

.email-block{
	display:flex;
	flex-direction:row;
	max-width: 86%;
	margin-bottom: 2rem;
}

.btn-block{
	display:flex;
	flex-direction:row;
	max-width: 20%;
	min-width: 20%;
	margin-top: 4rem;
	margin-bottom: 4rem;
	gap: 15px;
}

.heading-block{
	display:flex;
	flex-direction:column;
    justify-items: center;
	h1{
	font-size: 4.4em!important;
	background-color: $secondary_green;
	color: #fff;
	}
}
.rev-section{
	margin: auto;
	padding: 0 1rem;
	max-width: 1100px;
	text-align: center;
  }

  .reviews{
	margin: 2rem auto;
	display: flex;
	flex-wrap: wrap;
  }
  .review{
	margin: 0 1rem;
	min-width: 300px;
	flex: 1;
  }
 .head-review{
	margin: 1.75rem auto;
	width: 150px;
	height: 150px;
  }
  .body-review{
	background-color: #E1EABE;
	padding: 2.5rem;
	box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
  }
  .name-review{
	font-size: 1.5rem;
	color: $i-dark;
	margin-bottom: .25rem;
  }
  .place-review{
	color:red;
	font-style: italic;
  }
  .rating{
	color: $gold;
	margin: 1rem 0;
  }
  .desc-review{
	line-height: 1.5rem;
	letter-spacing: 1px;
	color: rgb(150, 150, 150);
  }
  
  @media (max-width: 678px){
	.review{
	  margin-top: 1.5rem;
	}
  }
  
 
.container {
	max-width: 100%;
	min-height: 30vh;
	padding: 0.5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 0 4rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $light_green;
	//background: linear-gradient(90deg, $primary_blue, #00a7e3);
	//background: radial-gradient(circle at 50% -100%, #000080, #2391ff, #c6ffff);
	color: $ii-dark;
	height: 80px;
	padding: 0 30px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 900;
}


.img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
  }
.header a {
	font-family: "egizio-urw", serif;
    color: #001d3b;
    margin-right: 20px;
    font-size: 2.05rem;
    text-transform: capitalize;
    text-decoration: none;
}

.login-btn {
	background-color: $secondary_green;
	&:hover {
		background-color: #f2f0e4;
	}
}

/** @format */

.hero {
	height: 210px;
	width: auto;
	//background: #ffff url("/images/hero.jpg") no-repeat center center;
	//color: #fff !important;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.player-wrapper {
	position: relative;
	padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.circular-progress-wrapper {
	position: relative;
	padding-top: 18% !important;
	padding-bottom: 18% !important;
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;
}
.controller-dropdown {
	display: block;
	position: relative;
	max-width: 700px !important;
	min-width: 60%;
	margin-left: 130px;
}

#controller-dropdown__menu {
	border: #04ceb4 2px solid;
}

.single-image {
	display: block !important;
	position: relative !important;
	height: 450px !important;
	width: auto !important;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 50px !important;
}

.singleNews-para {
	width: 40%;
	column-count: 2;
	column-gap: 5%;
	text-align: justify;
	margin: 0 auto;
}

.recycle-container{
	min-height:50vh;
	margin: 0 1rem;
    min-width: 400px;
    flex: 1 1;
}

.recycle-wrapper{
margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
}

#filePicker {
	border: 2px solid navy;
	background: #04ceb4 !important;
	content: "Input File Here";
	line-height: 1.5rem;
	&:hover {
		background-color: #04ceb4;
		transform: scale(1.03);
		box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
			0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
			0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
	}
}

#filePicker::before {
	content: "🔗Image ";
}

input[type="file" i] {
	appearance: none;
	background-color: red;
	cursor: pointer;
	align-items: baseline;
	color: inherit;
	text-overflow: ellipsis;
	white-space: pre;
	text-align: start !important;
	padding: initial;
	border: initial;
	border-color: initial;
	overflow: hidden !important;
	border-radius: initial;
}

#file-upload-button {
	padding: 14px;
	color: #04ceb4;
}
.firstLetter {
	color: $blue;
	float: left;
	font-size: 2.5rem;
	line-height: 36px;
	padding-top: -4px;
	padding-right: 8px;
}

.hero_banner {
	height: 300px;
	width: 100%;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	color: #fff !important;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: black;
}

.hero::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: none;
}

.inner_hero{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
//	background-image: url(../public/greencyle.svg);
}

.hero_banner::after {
	background-color: #001d3b;
	opacity: 0.6;
}

.hero * {
	z-index: 20;
}

.hero h1 {
	position: absolute;
	background-color: $secondary_green;
	bottom: 0;
	font-size: 1.5rem !important;
}

.hero_banner h1 {
	position: relative;
	background-color: transparent;
	margin-bottom: 0;
	font-size: 2.5rem !important;
}
.feed-image{
	display: block;
	position: relative;
	margin: 15px 15px;
	border-radius: 10px 0 10px 0;
}
.feed-content{
	display: block;
	font-size: 14px!important;
	max-height: 48px!important;
	text-overflow: ellipsis;
}
.feed-image__container{
	display: flex;
	position: relative;
	flex-direction: row;
}
.feed-image__wrapper{
	display: flex;
	position: relative;
	flex-direction: column;
}


.feed-title{
	display: flex;
	position: relative;
	flex-direction: column;
	max-width: 50%;
}

.feed-button{
	display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 100%;
    height: 100%;
    margin-top: 20%;
}

.product-feed-item{
	display: inline-block;
	height: fit-content;
	width:100%;
}

.product-feed-top-arrow{
	display: flex;
	flex-direction: column;
	height:70px;
}

.product-feed-image__container{
	display: flex!important;
	height:240px!important;
	width:100%!important;
}

.btn-tertiary{
	display: flex;
    flex-direction: column;
    height: 52px !important;
    background-color: #4FAE3C;
    color: white;
    font-size: 22px;
    border: #4C7041 2px solid;
    border-radius: 5px;
    padding: 9px 16px 9px 66px;
    margin: 1rem auto;
	
}


.product-box {
	height: fit-content;
	max-width: 94%;
	min-width: 80%;
	margin: 0 auto !important;
}


.top-arrow{
	position:relative;
	margin-top: -3rem;
	margin-bottom: -7rem;
	z-index: 1000;
}
.bottom-arrow{
	transform: rotate(3.142rad);
	margin-top: -7rem;
	right:2rem;
}

.header a:hover {
	color: $secondary_green;
}
.header ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.logo {
	display: inline-block;
	background-image: url(../public/logo-3.svg);
	height: 70px !important;
	width: 70px !important;
	font-size: 1.75em;
	text-transform: uppercase;
}

ol{
	display: block;
	position: relative;
	margin: 0 auto;
}

li.items {
	display: block;
	position: relative;
}

.pic-links:nth-child(2n-1) {
	background-color: transparent;
	font-size: 36px;
	color:$i-dark;
}
.pic-links:nth-child(2n) {
	background-color: $secondary_green;
	font-size: 36px;
	color:$cream;
	.feed-button{
		.btn-secondary{
		   background-color: $cream;
		   color: $secondary_green;	
		}
	}
}
.pic-links:nth-child(4n) {
	background-color: $primary_yellow;
	font-size: 36px;
	color:$blue;
	.feed-button{
		.btn-secondary{
		   background-color: $cream;
		   color: $blue;
		}
	}
}
.pic-links:nth-child(3n) {
	background-color: $blue!important;
	font-size: 36px;
	color:$cream;
	.feed-button{
		.btn-secondary{
		   background-color: $cream;
		   color: $blue;	
		}
	}
}
.pic-links{
	display: flex;
	position: relative;
	flex-direction: row;
	margin-bottom: 4rem;
	padding: 24px;
}

.items__link::after {
	z-index: 5;
	content: "";
	position: absolute;
	border-right: 2px solid $cream;
	top: -30px;
	left: -20px;
	height: 70px;
	width: 10px;
	transform: skewX(-14deg);
}

.tagline {
	display: inline-flex;
	color: $cream;
	background-color: white;
	flex-direction: row;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	margin-top: 0;
	padding-top: 0;
	font-size: 1.5rem;
}

main {
	width: calc(100% - 32px);
	margin: 0 16px;
}

.btn-primary {
	font-size: 39px;
	background-color: $blue;
	border: #001d3b 2px solid;
	border-radius: 5px;
	color: $cream;
    padding: 15px 100px;
	&:hover {
		background-color: #04ceb4;
		transform: scale(1.03);
		box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
			0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
			0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
	}
}

.btn-secondary {
	display: block;
	position: relative;
	background-color: $secondary_green;
	color: white;
	font-size: 32px;
	border: $dark_green 2px solid;
	border-radius: 5px;
	padding: 18px 28px 18px 28px;
	margin: 3rem auto;
}

.lun-primary__btn,
.sport__btn-primary {
	background-color: $blue !important;
	border: $i-dark 1px solid #f2f0e4 !important;
	border-radius: 4px !important;
	color: #f2f0e4 !important;
	padding: 9px 14px 9px 14px;
	display: block;
	margin: 0 auto 10px;
	font-family: "protipo", sans-serif !important;
	&:hover {
		text-decoration: underline;
		background-color: $dark_green !important;
		transform: scale(1.03);
		box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
			0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
			0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
		color: $blue !important;
	}
}

.d-flex {
	display: inline-flex;
	padding: 5px 10px 5px 10px;
	margin: 10px auto 5px !important;
	text-transform: capitalize !important;
}


.form__fieldset {
	display: block;
	width: calc(100% - 8px);
	margin-left: 4px !important;
	padding-left: 4px !important;
	background: linear-gradient(45deg, #f2f0e4, white);
}

.form__fieldset__grid {
	margin-left: 0 !important;
}
.news-container {
	display: flex;
	flex-wrap: wrap;
	min-width: 98% !important;
	margin: 0 auto;
	flex-direction: row;
}

.news-card {
	background-color: transparent;
	color: $dark_green !important;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	overflow: hidden;
	min-width: 94% !important;
	max-width: 100% !important;
	height: auto !important;
	margin-left: 0px;
	margin-bottom: 50px !important;
}

.Recycle-card {
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	overflow: hidden;
	min-width: 94% !important;
	max-width: 100% !important;
	height: auto !important;
	margin-left: 0px;
	margin-bottom: 50px !important;
	background-color: $background-main;
}

.singleNews {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
	padding: 14px 14px;
}

.footer{
	display:block;
	width:100%;
	margin-left: 0;
	background-color: $dark_green;
	min-height: 50vh !important;
}


.foot-newsletter h4{
	color: $cream;
}

.footer-wrapper{
	display: flex;
	flex-direction: row;
	min-width: 86%;
	margin: 0 auto;
}
.foot-col-1{
	display: flex;
	position: relative;
	border:$cream solid 2px;
}
.foot-newsletter{
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: 24px;
	padding: 2rem;
	min-width: 400px;
}
.foot-col-2{
	display: flex;
	flex-grow: 1;
	position: relative;
	border:$cream solid 2px;
}

.flex-footer{
	display:flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-around;
	a{
		color: #e0d494;
		font-size: 34px;
		&:hover{
			color: $secondary_green;
			cursor: pointer;
		}
         
	}
}

.active{
	text-decoration: overline!important;
	font-weight: bold;
	color: $blue !important;
}

.ratio-4-3 {
	width: 100%;
	position: relative;
	// background: url() 50% 50% no-repeat;
	background-size: cover;
	background-clip: content-box;
}
.ratio-4-3:before {
	display: block;
	content: "";
	padding-top: 75%;
}

input{
	height: 4.5rem;
	border-radius: 7px;
	margin-bottom: 2rem;
	background-color:#E1EABE;
}



.news-card:hover {
	transform: scale(1.03);
	box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
		0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
		0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.toggle-nav {
	display: none;
	position: absolute;
	right: 10px;
	top: 7px;
	padding: 5px;
	color: #000;
	font-size: 18px;
}

input[type="text"] {
	padding: 5px 12px;
	font-size: 1.25em;
	min-width: 73% !important;
	max-width: 700px;
	height: 40px;
	border: 1px solid $dark_green;
	border-radius: 7px;
	display: block;
	margin: 0 auto;
	font-family: "mr-eaves-modern", sans-serif;
	font-size: 13.5px;
	background: white;
}

.bottom-arrow{
	transform: rotateY(180)!important;
}

.email-newsletter{
	margin-left: 10px;
	min-width: 73% !important;
	max-width: 700px;
	border: 1px solid $dark_green;
	border-radius: 7px;
	display: block;
	margin: 0 auto;
	font-size: 14px;
	background: #E1EABE;
	padding: 14px 20px;
}

.form-label {
	display: inline-flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 22px !important;
	font-size: 13.5px;
}

#demo-simple-select {
	width: 140px;
	height: 20px;
	border: 1px solid $secondary_green;
	border-radius: 7px;
}
.form-input {
	display: block;
	margin: 0 auto;
	background: white;
	margin-top: 1.5rem;
}

.form-input button {
	display: block;
	position: relative;
	margin: 0 auto !important;
}

.form-input__dropdown {
	width: 200px !important;
	display: block;
	margin: 0 auto;
	background: white;
}
.formInput {
	display: block !important;
	margin: 0 auto !important;
}
.formInput::before {
	border-bottom: none !important;
}
.formInput__content {
	min-width: 75% !important;
	max-width: 700px !important;
	height: 400px !important;
	border: 1px solid $secondary_green;
	border-radius: 7px;
	display: block;
	margin: 0 auto;
	font-size: 13.5px;
	background: white;
}
input[type="text"]:focus {
	outline: none;
	box-shadow: 0px 0px 2px $blue;
}

.home {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search-message {
	margin-top: 16px;
	font-size: 1.5em;
	font-weight: 700;
}

.search-grid {
	margin-top: 16px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 300px;
	grid-gap: 8px;
}

.toogle-nav {
	display: none;
}

@media screen and (max-width: $breakpoint_sm) {
	.tagline {
		display: none;
	}

	.list {
		flex-direction: column;
		height: auto;
		background: linear-gradient(45deg, $cream, $secondary_green);
	}

	

	.items:nth-child(1) {
		border-top: 1px solid $gold;
		margin-top: 10px;
	}
	.items {
		width: 100%;
		border-top: 1px solid 1px solid $gold;
		text-align: center;
		margin-right: 0px;
		padding: 20px 0;
	}
	.toogle-nav {
		display: block;
		position: absolute;
		right: 10px;
		top: 7px;
		padding: 5px;
		color: #000;
		font-size: 2rem;
	}
	.items__link::after {
		display: none;
	}
}
